<a href="https://colab.research.google.com/github/DiegoMacielDM/CienciaDeDados/blob/main/Exercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando a biblioteca pandas do Python
import pandas as pd

# importando os dados
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/BBAS3.SA.csv",
                       index_col="Date")

In [ ]:
#Analisando as 7 primeiras entradas do conjunto de dados.
df.head(7)

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-09-21  29.730000  30.580000  29.340000  30.580000  28.680056  16301600
2018-09-24  30.379999  30.700001  29.500000  29.730000  27.882866  13086900
2018-09-25  29.030001  29.760000  28.809999  29.549999  27.714045  11742900
2018-09-26  29.650000  29.969999  29.209999  29.450001  27.620264  12842400
2018-09-27  29.680000  30.299999  29.680000  30.290001  28.408072   8767900
2018-09-28  29.830000  29.980000  29.299999  29.450001  27.620264  12790900
2018-10-01  29.549999  29.760000  28.200001  28.209999  26.457306  15677500

In [ ]:
#Análisando o qual o tamanho (linhas e colunas) do conjunto de dados importado.
df.shape

(246, 6)

In [ ]:
#Identifique o tipo de cada coluna (inteiro, float, object).

In [ ]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [ ]:
#Quais são os valores da ação para o dia 04 de outubro de 2018?
df.loc["2018-10-04"]

Open         3.368000e+01
High         3.588000e+01
Low          3.352000e+01
Close        3.512000e+01
Adj Close    3.293799e+01
Volume       2.792000e+07
Name: 2018-10-04, dtype: float64

In [ ]:
#Qual a média do Volume financeiro movimentado em todo o período?
df.Volume.mean()

11928526.016260162